#h11 {
  color: aqua;
  background-color: rgb(26, 163, 35);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px;
}

#h12 {
  color: violet;
  font-family: verdana;
  background-color: blue;
  padding: 10px;
}

#time {
  color: red;
  font-size: 40px;
  background-color: skyblue;
  padding: 10px;
}
