body{
    background-color: rgb(0, 0, 0);
}

h2{
    color: red;
}

.common{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border: 20px solid green;
    border-radius: 10px ;
}

button{
    color: blue;
    background-color: chartreuse;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
    border: 3px solid rgb(65, 0, 218);
}

