body{
    background-color: rgb(0, 0, 0);
}

h2{
    color: red;
}

.common{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border: 20px solid green;
    border-radius: 10px ;
}


